.main {
    size: 100%;
}
.main-container {
    position: relative;
    height: 100%;
}

.contact-box {
    display: flex;
    margin-bottom: 100px;
    margin-left: 100px;
    background: rgba(0, 0, 0, 0.7);
    width: 30em;
    padding: 2em;
}
.contact-icon {
  flex-basis: 75px;
}
.contact-icon-email {
  flex-basis: 50px;
  margin-right: 10px;
}
.contact-box p {
  margin-top: 3px;
}
.personal {
    display: flex;
    float: left;
    justify-content: space-evenly;
    width: auto;
    margin-top: 3rem;
    margin-left: 3rem;
    padding: 1em;
}
.name {
    justify-content: center;
    font-size: 3em;
    color: white;
}

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #ffffff;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .about-me {
    background-image: url('../images/mountain1.jpg');
  }
  .technologies {
    background-image: url('../images/programming.jpg');
  }
  .projects {
    background-image: url('../images/iot.jpg');
  }
  
  .tm-main-container {
    position: relative;
    height: 100%;
  
  }
  
  .tm-top-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .tm-nav {
    margin: 30px;
    text-transform: uppercase;
  }
  
  .tm-nav-links {
    list-style: none;
  }

  .tm-nav-item.active .tm-nav-link,
  .tm-nav-link:hover,
  .tm-nav-link:focus {
    text-decoration: none;
    color: #950000;
  }
  
  .tm-bg-dark {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .tm-site-header-box {
    display: inline-block;
    padding: 40px 80px 40px 40px;
    margin: 40px 40px 100px;
  }
  
  .tm-site-title {
    font-size: 3.6rem;
    text-transform: uppercase;
  }
  
  .tm-site-subtitle {
    color: #cdffd0;
    font-size: 1.4rem;
    font-weight: 300;
  }
  
  .tm-content {
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .tm-section {
    margin-right: 75px;
    max-width: 100%;
  }
  
  .tm-section-title {
    font-size: 3.4rem;
    margin-left: 40px;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .tm-textbox {
    padding: 45px;
    font-size: 1.1rem;
    color: #c5c7c6;
    line-height: 1.8;
  }
  
  .tm-textbox-2 {
    padding: 60px 40px 60px;
  }
  
  .tm-section-0 {
    margin-top: 70px;
    max-width: 575px;
  }
  .tm-section-1 {
    margin-top: 70px;
    max-width: 420px;
  }

.tm-link:link,
.tm-link:visited {
  background-color: white;
  padding: 15px 30px;
  color: black;
  border-radius: 5px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 25px;
}
.tm-nav-link:link,
.tm-nav-link:visited {
  color: black;
  background-color: white;
  padding: 10px 40px;
  display: block;
  margin-bottom: 6px;
  text-align: center;
}
  .tm-link:focus,
  .tm-link:hover {
  text-decoration: none;
  color: #950000;
}

  